/* Use border-box in all elements */
* {
  box-sizing: border-box;
}

/* Styling for the webpage */
body {
  background-color: #789dbcf2;
  color: white;
  font-family: "Roboto", georgia, arial;
  line-height: 2;
  border: 1px white solid; /* Border around page */
  padding: 2rem; /* Spacing between content and border */
  margin: 2rem; /* Spacing outside border */
}

main section,
footer section {
  border-top: 1px white solid; /* Borders between sections */
  margin: 2rem 0;
}

/* Styling for header */
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headshot-container img {
  border-radius: 50%; /* Rounding the profile image */
  border: 1px solid white; /* Border around profile image */
}

.personal-info-container {
  line-height: 1rem;
}

/* Styling for name */
h1 {
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, .5);
}

/* Styling for section headings */
h2 {
  font-size: 1.6rem;
  font-weight: 340;
  text-transform: uppercase;
}

/* Font size for subsections */
h3 {
  font-size: 1.2rem;
}

/* Padding below headers to ensure content doesn't feel cramped. */
h1, h2, h3 {
  padding-bottom: 1rem;
}

/* Styling of links */
a {
  text-decoration: none;
}

/* Adjust form elements to capture same look and feel. */
form input, 
form textarea, 
form select {
  padding: .2rem;
  border: 1px solid white;
  outline: none;
}

.skills-container {
  display: flex;
  justify-content: space-around;
}

.tools-container {
  display: flex;
  justify-content: center;
}

.project-entry {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.project-entry .image-container
{
  margin-right: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input-container,
.select-container,
.checkbox-container {
  display: flex;
  width: 30rem;
  margin-bottom: 1rem;
}

.text-input-container label,
.select-container label {
  flex-grow: 1;
}

.text-input-container input,
.text-input-container textarea,
.select-container select {
  width: 20rem; /* Width of inputs and selection box */
}

.text-input-container textarea {
  height: 10rem; /* Height of custom message box */
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Styling of form buttons */
form button {
  padding: .2rem .7rem;
  margin: 0 .2rem;
  border: 1px solid white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}